SNEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
DATABASE_URL=
DIRECT_URL=
S*cascade08"(72bd7035e7a959ee4bbfe129beb12c2a2dd46bad2]file:///Users/santiagovalencia/backend%20proyecto%20inf%201/Proyecto_Informatico/.env.example:Pfile:///Users/santiagovalencia/backend%20proyecto%20inf%201/Proyecto_Informatico