k.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;
}k*cascade082nfile:///Users/santiagovalencia/Documents/proyecto%20inf_1/src/components/shared/Container/Container.module.css